<!DOCTYPE HTML>
<html lang="en-US">

<head>
    <title>Twitchify</title>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="shortcut icon" href="images/favicon-black.jpg">
    <link href='https://fonts.googleapis.com/css?family=Rubik:400,700,700i' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href='style.css'>

</head>

<body class="page-template-onepage">

    <div class="site-wrapper">

        <div class="doc-loader">
            <img src="images/preloader.svg" alt="Twitchify">
        </div>

        <header class="header-holder">
            <div class="menu-wrapper center-relative relative">
                <div class="header-logo">
                    <a href="/"><img src="images/logo.jpg" alt="Twitchify"></a>
                </div>

                <div class="toggle-holder">
                    <div id="toggle">
                        <div class="first-menu-line"></div>
                        <div class="second-menu-line"></div>
                        <div class="third-menu-line"></div>
                    </div>
                </div>

                <div class="menu-holder">
                    <nav id="header-main-menu">
                        <ul class="main-menu sm sm-clean">
                            <li>
                                <a href="/">Home</a>
                            </li>
                            {% if connected %}
                            <li>
                                <a href="#connect">Track URL</a>
                            </li>
                            {% else %}
                            <li>
                                <a href="#connect">Connect</a>
                            </li>
                            {% endif %}
                            <li>
                                <a href="/logout">Logout</a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div class="clear"></div>
            </div>
        </header>

        <div id="connect" class="section">
            <div class="page-title-holder">
                <h3 class="entry-title">
                    {% if connected %}
                    Track URL
                    {% else %}
                    Connect Twitch
                    {% endif %}
                </h3>
            </div>
            <div class="section-wrapper block content-1170 center-relative">
                <div class="content-wrapper">
                    <div class="button-container">
                        {% if connected %}
                        <div class="container-fluid mt-5">
                            <div class="form-group">
                                <label for="url-display">Twitch Alert URL</label>
                                <input type="text" class="form-control" id="url-display" readonly>
                                <small class="text-muted">* Add a new browser
                                    source and paste your URL. Do not forget to check the <strong>'Refresh browser when
                                        scene becomes active'</strong> option.
                                </small>

                            </div>
                            <div class="container-fluid d-md-flex flex-md-row flex-column justify-content-between">
                                <div>
                                    <button class="btn btn-outline-success" id="show-url-button">Show URL</button>
                                    <button class="btn btn-outline-success" id="copy-button">Copy URL</button>
                                    <button class="btn btn-outline-success" id="open-url" onclick="window.open(appUrl + 'alert/' + originalUrl)">Open URL</button>
                                </div>
                                <div>
                                    <button class="btn btn-outline-warning" id="regenerate-button">Regenerate
                                        URL</button>
                                    <button class="btn btn-outline-danger"
                                        onclick="window.location.href='/disconnect'">Disconnect Twitch</button>
                                </div>
                            </div>
                            <div class="container-fluid d-md-flex flex-md-row flex-column justify-content-center mt-3">
                                <button class="btn btn-outline-info mx-1" id="test-follow" name="follow">Test
                                    Follow</button>
                                <button class="btn btn-outline-info mx-1" id="test-newsub" name="newsub">Test New
                                    Sub</button>
                                <button class="btn btn-outline-info mx-1" id="test-substreak" name="substreak">Test Sub
                                    Streak</button>
                                <button class="btn btn-outline-info mx-1" id="test-subgift" name="subgift">Test Sub
                                    Gift</button>
                                <button class="btn btn-outline-info mx-1" id="test-cheer" name="cheer">Test Cheer</button>
                            </div>
                        </div>
                        {% else %}
                        <div>
                            <div class="container ">
                                <a href="/auth" class="btn btn-primary btn-lg btn-block">Connect Twitch</a>
                            </div>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="clear"></div>
        </div>

        <!-- Footer -->
        <footer class="footer">
            <div class="footer-content center-relative">
                <div class="footer-logo">
                    <img src="images/favicon-black.jpg" alt="Twitchify" />
                </div>
                <div class="footer-logo-divider"></div>
                <div class="footer-mail">
                    <a href="mailto:help@twitchify.com">help@twitchify.com</a>
                </div>
                <div class="footer-social-divider"></div>
                <div class="social-holder">
                    <a href="#">
                        <span class="fa fa-twitter"></span>
                    </a>
                    <a href="#">
                        <span class="fa fa-facebook"></span>
                    </a>
                    <a href="#">
                        <span class="fa fa-behance"></span>
                    </a>
                    <a href="#">
                        <span class="fa fa-dribbble"></span>
                    </a>
                </div>

                <div class="copyright-holder">
                    © 2023 Twitchify
                </div>
            </div>
        </footer>
    </div>
    <div classs="container p-5">
        <div class="row no-gutters fixed-bottom">
            <div class="alert alert-success" id="success-alert">
                <strong>Success! </strong>
                <p style="display:inline;"></p>
            </div>
            <div class="alert alert-danger" id="danger-alert">
                <strong>Error! </strong>
                <p style="display:inline;"></p>
            </div>
        </div>
    </div>
</body>

<!--Load JavaScript-->
<script src="js/jquery.js"></script>
<script src="js/jquery.sticky.js"></script>
<script src="js/tipper.js"></script>
<script src="js/jarallax.js"></script>
<script src="js/jarallax-element.min.js"></script>
<script src='js/imagesloaded.pkgd.js'></script>
<script src='js/jquery.fitvids.js'></script>
<script src='js/jquery.smartmenus.min.js'></script>
<script src='js/isotope.pkgd.js'></script>
<script src='js/owl.carousel.min.js'></script>
<script src='js/jquery.sticky-kit.min.js'></script>
<script src='js/main.js'></script>
<script>

    const urlDisplay = document.getElementById('url-display');
    const showUrlButton = document.getElementById('show-url-button');
    const copyButton = document.getElementById('copy-button');

    let appUrl = "{{appUrl}}";
    let originalUrl = "{{alertID}}"; // Backend tarafından alınan URL
    let urlVisible = false;

    $(document).ready(function () {
        $("#success-alert").hide();
        $("#danger-alert").hide();
    });

    function alert(type, message) {
        if (type == "success") {
            $("#success-alert p").text(message);
            $("#success-alert").fadeTo(2000, 500).slideUp(500, function () {
                $("#success-alert").slideUp(500);
            });
        } else if (type == "danger") {
            $("#danger-alert p").text(message);
            $("#danger-alert").fadeTo(2000, 500).slideUp(500, function () {
                $("#danger-alert").slideUp(500);
            });
        }
    }

    function copy(id) {
        var copyText = document.getElementById(id).innerText;
        navigator.clipboard.writeText(copyText).then(() => {
            alert("success", "URL copied!");
        }).catch(() => { alert("danger", "URL could not copied!"); });
    };

    if (urlDisplay != null) {
        updateUrlVisibility();

        showUrlButton.addEventListener('mousedown', function () {
            urlVisible = true;
            updateUrlVisibility();
        });

        showUrlButton.addEventListener('mouseup', function () {
            urlVisible = false;
            updateUrlVisibility();
        });

        copyButton.addEventListener('click', function () {
            navigator.clipboard.writeText(appUrl + "alert/" + originalUrl).then(() => {
                alert("success", "URL copied!");
            }).catch(() => { alert("danger", "URL could not copied!"); });
        });

    }


    function updateUrlVisibility() {
        if (urlVisible) {
            urlDisplay.value = appUrl + "alert/" + originalUrl;
        } else {
            urlDisplay.value = '*'.repeat((appUrl + "alert/" + originalUrl).length);
        }
    }

    $("#regenerate-button").on("click", function () {
        $.ajax({
            url: appUrl + "regenerate",
            type: "POST", 
            success: function (response) {
                if (response.status == "success") {
                    originalUrl = response.newTrackID;
                    alert("success", "URL regenerated!");
                } else {
                    alert("danger", "URL could not regenerated!");
                }
            },
            error: function () {
                alert("danger", "URL could not regenerated!");
            }
        });
    });

    $(document).ready(function () {
        $("#test-follow, #test-newsub, #test-substreak, #test-subgift, #test-cheer").on("click", function () {
            var testName = $(this).attr("name");

            $.ajax({
                url: appUrl + "test",
                type: "POST",
                data: { testName: testName }, // İlgili test adını ve değerini gönder
                success: function (response) {
                    if (response == "success") {
                        alert("success", "Test successful!");
                    } else {
                        alert("danger", "Twitch alert page is not open!");
                    }
                },
                error: function () {
                    alert("danger", "Test failed!");
                }
            });
        });
    });


</script>

</html>